*
{
    margin: 0;
    padding: 0;
}


.logo_image
{
    width: 50px;
    margin-left: 40%;
}
.navigation
{
    margin-left: 65%;
    float:left;
    color: white;
    
    
}

nav .navbar-nav li a{
    color: white !important;
    }

 li
{
    padding: 10px;
    color: white;
} 
 i
{
    margin-right: 5px;
    padding-top: 5%;
} 
span
{
    
    color: blue;
  
}
/* img
{
    padding-top: 5%;   
} */
.para
{
    padding-bottom: 10%;
    text-align: center;
}
.card_group_main div
{
    padding:0;
    display:inline-block;
}
.main_card
{
    margin-bottom: 2px;
}
/*! stylling for pixel hading */
.pixel_heading
{
    
    color: white;
    margin-top: 10%;
    margin-bottom: 1%;
    
    
}
/*! stylling for pixel perfect */
.pixel_text
{
    color : white;
}
/*! stylling for button */
.btn-outline-light
{
    margin-top: 15px;
    margin-bottom: 5%;
}
/*! stylling for card logoes */
.card_logoes
{
    width: 50px;
    padding-top: 5%;
  
    
}
/* !styllying for card heading */
.card_heading
{
    margin-top: 5%;
    margin-bottom: 3%;
    color: white;
}
/* !stylling for card heading */
.card-text
{
    color: white;
}
.card_group_main
{
    margin-bottom: 1%;
}

/*! stylling for About Us as heading 2  */
.heading_2
{
    margin-top: 5%;
}
/*! stylling for heading 3 awesome  stuff  */
.heading_3
{
    margin-top: 1%;
    margin-bottom: 1%;
}
.paragraph_about_us
{
 margin-bottom: 5%;
}
.mid_img
{
    width : 50px;
    
    `
}

.img-container
{
    text-align: center;
}



/*! styllling for html logo */
.html_logo
{
    float: left;
    width: 50px;
    height: 50px;
    clear: left;
}

.para_heading_1
{
    margin-left: 3%;
    
}
/* ! mid paragraph1 */
.paragraph1
{
    float: left;
    clear: left;
}

        /*! footer stylling */ 
.footer_div
{
    margin-top: 5%;
}            
.footer_heading
{
    padding-top: 3%;
    color: #bababa;
    
}
.footer_logo
{
    width : 50px;
    text-align: center;
}
.footer_para
{
    color: #bababa;
}
.footer_card
{
    margin-bottom: 1%;
    background-color: #212121 !important ;
    /* color:blanchedalmond !important; */
}

